<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <!-- - 
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.zhl.util.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>LoginClServlet</servlet-name>
  </filter-mapping>
  
  -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.zhl.view.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.zhl.view.Index</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.zhl.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.zhl.view.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterClServlet</servlet-name>
    <servlet-class>com.zhl.controller.UserRegisterClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.zhl.view.Ok</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.zhl.view.Error</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCartClServlet</servlet-name>
    <servlet-class>com.zhl.controller.ShoppingCartClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCartView</servlet-name>
    <servlet-class>com.zhl.view.ShoppingCartView</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookStore</servlet-name>
    <servlet-class>com.zhl.view.BookStore</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterClServlet</servlet-name>
    <url-pattern>/UserRegisterClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/Ok</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartClServlet</servlet-name>
    <url-pattern>/ShoppingCartClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartView</servlet-name>
    <url-pattern>/ShoppingCartView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookStore</servlet-name>
    <url-pattern>/BookStore</url-pattern>
  </servlet-mapping>

</web-app>